:root {
    --mid: #711c91;
    --dark: #091833;
    --light: #0abdc6;
    --accent: #ffd512;
}

::selection {
    background-color: var(--mid);
    color: var(--dark);
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
}


.container {
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mid);
    column-gap: 30px;
}

.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding:30px ;
    border-radius: 6px;
    background-color: var(--light);
}
.form.signup {
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

form{
    margin-top: 30px;
}

.form .field{
    position: relative;
    height: 45px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
}
.field input:focus {
    border-bottom-width: 2px;
}


.field button {
    color: #fff;
    background-color: var(--mid);
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover {
    background-color: var(--mid);
}

.form-link {
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link span a {
    font-size: 14px;
    font-weight: 400;
} 

.form a {
    color:var(--dark);
    text-decoration: none;
}

.form-content a:hover{
    text-decoration: underline;
}

